@import 'variables.scss';
@import 'mixin.scss';
@import 'reset.scss';
html {
    box-sizing: border-box;
    background-color: $background-color;
    font-size: 12px;
    @media (min-width: $br-mobile) {
        font-size: 16px;
    }
    @media (min-width: $br-desktop) {
        font-size: 20px;
    }
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: $body-font-size;
    font-family: $first-base-font-family;
    color: $body-color;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: 0;
    background: none;
    padding: 0;
}


%bigHeadlineText {
    font-family: $first-base-font-family;
    font-weight: $ffw-bold;
    color: $product-color;
    font-size: $base-unit*3.5;
    line-height: $base-unit*4;
}

%descriptionText {
    font-family: $second-base-font-family;
    font-weight: $sfw-regular;
    color: $text-color;
    font-size: $base-unit*1.25;
    line-height: $base-unit*1.6;
}

%paragraphText{
    font-family: $second-base-font-family;
    font-weight: $sfw-light;
    color: $text-color;
    font-size: $base-unit*0.85;
    line-height: $base-unit*1.25;
}

%h2{
    font-family: $first-base-font-family;
    font-weight: $ffw-bold;
    color: $text-color;
    font-size: $base-unit*1.5;
    line-height: $base-unit*2;
}
