@mixin min-media($br) {
    @media (min-width: $br) {
        @content;
    }
}

@mixin max-media($br) {
    @media (max-width: $br) {
        @content;
    }
}

@mixin dotted-line($color: $text-color, $alignment: bottom) {
    background-image: linear-gradient(to right, $color 0%, $color (100% / $dottedLineSpacing), transparent (100% / $dottedLineSpacing));
    background-position: 0 $alignment; background-size: ($dottedLineSpacing + px) 1px;
    background-repeat: repeat-x;
}