$product-color: #3146FF;
$text-color: #000;
$item-color: #fff;
$background-color: #F7F7F7;
$secondary-color: #01FFCB;

$base-unit: 1rem * 1.25;

$body-font-size: $base-unit;
$body-color: $text-color;


$first-base-font-family: 'Poppins', sans-serif;
$ffw-regular: 400;
$ffw-bold: 700;

$second-base-font-family: 'Roboto', sans-serif;
$sfw-light: 300;
$sfw-regular: 400;
$sfw-bold: 700;

$h1-font-size: $base-unit * 3.5;
$h2-font-size: $base-unit * 1.5;
$h3-font-size: $base-unit * .85;

$space: $base-unit * 2;

$wrapper-max: $base-unit * 59.35;

$br-mobile: 360px;
$br-tablet: 768px;
$br-desktop: 1200px;