.form-wrapper{
    margin: 0 auto;
    max-width: $wrapper-max;
    padding-right: $space*.5;
    padding-left: $space *.5;
    @include min-media($br-tablet) {
        padding-right: $space*3;
        padding-left: $space *3;
    }
    @include min-media($br-desktop) {
        padding-right: $space;
        padding-left: $space;
    }
}

.form{
    margin: $space*2.5 0 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-color: $item-color;
    @include min-media($br-desktop){
        margin: $space*4 0 0;
    }

    &__main{
        display: flex;

        &__element{
            display: flex;
            flex-direction: column;
        }
    }
}