.form-wrapper {
    margin: 0 auto;
    max-width: $wrapper-max;
    padding-right: $space*.5;
    padding-left: $space *.5;
    @include min-media($br-tablet) {
        padding-right: $space*3;
        padding-left: $space *3;
    }
    @include min-media($br-desktop) {
        padding-right: $space;
        padding-left: $space;
    }
}

.form {
    margin: $space*2.5 0 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-color: $item-color;
    @include min-media($br-desktop) {
        margin: $space*4 0 0;
    }

    &__btns{
        display: flex;
        padding-bottom: $space*2;
        @include min-media($br-desktop){
            padding-bottom: $space*2.5;
        }
    }
    &__main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &__element {
            display: flex;
            flex-direction: column;
            width: 100%;
            @include min-media($br-desktop){
                width: 45%;
            }
        }
        &__label {}
        &__input {}
        &__area {
            display: flex;
            flex-direction: column;
            width: 100%;
            &__txt {}
        }
        &__submit {
            
            &__btn {}
        }
    }
}
