@import '../global/global.scss';
@import '../global/reset.scss';
@import '../global/mixin.scss';
@import '../global/variables.scss';
.main-hdr {
    left: 0;
    width: 100%;
    height: $space * 2;
    z-index: 20;
    overflow: hidden;
    .nav-wrapper {
        margin: 0 auto;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: $space*.5;
    }
    @include min-media($br-desktop) {
        height: $space * 4;
        padding-left: $space*2;
        overflow: visible;
    }
}

.hdr-logo {
    order: 0;
    margin-top: $space *.65;
    width: 60px;
    flex-basis: 20%;
    @include min-media($br-desktop) {
        margin-top: $space;
        transform: translateY(-20%);
        flex-basis: 20%;
        left: $space*2;
    }
}

.main-nav {
    
    order: 2;
    margin-top: $space * 2;
    flex-basis: 20%;
    &__menu {
        li {
            text-align: center;
            padding: $space * 0.5 0;
            display: none;
        }
    }
    @include min-media($br-desktop) {
        display: flex;
        flex-basis: 70%;
        order: 1;
        top: 0;
        padding-left: $space *2.5;
        padding-right: $space;
        margin-top: $space;
        justify-content: flex-end;
        &__menu {
            li {
                font-family: $second-base-font-family;
                font-weight: $sfw-regular;
                font-size: $base-unit*.65;
                display: block;
                float: left;
                margin-left: $space;
                padding: 0;
                border: 0;
                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
    &__sign {
        display: none;
        @include min-media($br-desktop) {
            display: flex;
            justify-content: space-between;
            max-width: $space*11.5;
            float: right;
            li {
                font-family: $second-base-font-family;
                font-weight: $sfw-regular;
                font-size: $base-unit*.85;
                display: flex;
                margin-left: $space*1.5;
                padding: 0;
                border: 0;
                &:first-child {
                    margin-right: 0;
                    background-color: $background-color;
                }
            }
        }
    }
}

.secondary-nav {
    order: 1;
    flex-basis: 60%;
    margin-top: $space *.5;
    font-family: $second-base-font-family;
    font-weight: $sfw-regular;
    font-size: $base-unit*.75;
    &__menu {
        display: none;
        li {
            text-align: center;
            padding: $space*.3 0 $space * 0.5;
        }
    }
    @include min-media($br-desktop) {
        font-size: $base-unit*.95;
        order: 2;
        flex-basis: 100%;
        top: 0;
        padding-left: $space * 7;
        margin-top: $space * 1.5;
        &__menu {
            display: block;
            li {
                display: block;
                float: left;
                margin-left: $space * 1.5;
                padding: 0;
                border: 0;
                &:first-child{
                    margin-left: 0;
                }
            }
        }
    }
    &__select {
        
        @include min-media($br-desktop){
            display: none;
        }
    }
}

.nav-btn {
    position: absolute;
    right: 0;
    top: 0;
    padding: $space $space*0.5;
    width: $space*1.5;
    color: $text-color;
    span {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -.25 * $space;
        display: block;
        width: $space * 0.5;
        height: $space * .5 * 0.125;
        background-color: $text-color;
        &:before,
        &:after {
            content: "";
            position: absolute;
            left: 50%;
            margin-left: -.25 * $space;
            width: $space * .5;
            height: $space * .5 * 0.125;
            background-color: $text-color;
        }
        &::before {
            margin-top: -0.125 * $space;
        }
        &::after {
            margin-top: 0.125*$space;
        }
    }
    @include min-media($br-desktop) {
        display: none;
    }
}
