.main-hdr {
    left: 0;
    width: 100%;
    height: $space * 2;
    z-index: 20;
    overflow: hidden;
    .nav-wrapper {
        margin: 0 auto;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: $space*.5;
    }
    @include min-media($br-desktop) {
        height: $space * 4;
        padding-left: $space*2;
        overflow: visible;
    }
}

.hdr-logo {
    order: 0;
    margin-top: $space *.65;
    width: 60px;
    flex-basis: 20%;
    @include min-media($br-desktop) {
        margin-top: $space;
        transform: translateY(-20%);
        flex-basis: 20%;
        left: $space*2;
    }
}

.main-nav {
    order: 2;
    margin-top: $space * 2;
    flex-basis: 20%;
    &__menu {
        &--item {
            text-align: center;
            padding: $space * 0.5 0;
            display: none;
        }
    }
    @include min-media($br-desktop) {
        display: flex;
        flex-basis: 80%;
        order: 1;
        top: 0;
        padding-left: $space *2.5;
        margin-top: 0;
        justify-content: flex-end;
        align-items: stretch;
        text-shadow: 0 0 .15px #FFF, 0 0 .15px #fff;
        &__menu {
            &--item {
                font-family: $second-base-font-family;
                font-weight: $sfw-regular;
                font-size: $base-unit*.65;
                display: block;
                float: left;
                margin-left: $space;
                margin-top: $space;
                padding: 0;
                border: 0;
                &:first-child {
                    margin-left: 0;
                }
                &:hover {
                    text-shadow: 0 0 .15px #000, 0 0 .15px #000;
                    
                    &::after {
                        content: "";
                        display: block;
                        margin: 0;
                        width: 50%;
                        padding-top: 2px;
                        border-bottom: 2px solid $secondary-color;
                    }
                }
            }
        }
    }
    &__sign {
        display: none;
        @include min-media($br-desktop) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &--item {
                font-family: $second-base-font-family;
                font-weight: $sfw-regular;
                font-size: $base-unit*.85;
                display: flex;
                margin-left: $space*1.5;
                &:first-child {
                    margin-left: $space;
                    margin-top:  $space * .75;
                }
                &:nth-child(2){
                    margin-top:  $space * .67;
                }
                &:last-child {
                    color: $background-color;
                    background-color: $product-color;
                    align-self: stretch;
                    p{
                        padding-left: $space*1.5;
                        padding-right: $space*3;
                        padding-top: $space; 
                    }
                }
            }
        }
    }
}

.secondary-nav {
    order: 1;
    flex-basis: 50%;
    margin-top: $space *.5;
    font-family: $second-base-font-family;
    font-weight: $sfw-regular;
    font-size: $base-unit*.75;
    &__menu {
        &--item {
            text-align: center;
            padding: $space*.3 0 $space * 0.5;
        }
    }
    @include min-media($br-desktop) {
        font-size: $base-unit*.95;
        order: 2;
        flex-basis: 100%;
        top: 0;
        padding-left: $space * 7;
        margin-top: $space * 1.5;
        
        &__menu {
            &--item {
                display: block;
                float: left;
                margin-left: $space * 1.5;
                padding: 0;
                border: 0;
                border-bottom: 2px solid $background-color;
                text-shadow: 0 0 .15px #FFF, 0 0 .15px #fff;
                &:first-child {
                    margin-left: 0;
                }
                &:not(:first-child):hover {
                    text-shadow: 0 0 .15px #000, 0 0 .15px #000;
                    border-bottom: 0;
                    letter-spacing: 0;
                    &::after {
                        content: "";
                        display: block;
                        margin: 0;
                        width: 50%;
                        border-bottom: 2px solid $secondary-color;
                    }
                }
            }
        }
    }
    &__select {
        @include min-media($br-desktop) {
            display: none;
        }
    }
}

.nav-btn {
    position: absolute;
    right: 0;
    top: 0;
    padding: $space $space*0.5;
    width: $space*1.5;
    color: $text-color;
    &:hover{
        cursor: pointer;
    }
    &__hamburger {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -.25 * $space;
        display: block;
        width: $space * 0.5;
        height: $space * .5 * 0.1;
        background-color: $product-color;
        &:before,
        &:after {
            content: "";
            position: absolute;
            left: 50%;
            margin-left: -.25 * $space;
            width: $space * .5;
            height: $space * .5 * 0.1;
            background-color: $product-color;
        }
        &::before {
            margin-top: -0.1 * $space;
        }
        &::after {
            margin-top: 0.1*$space;
        }
    }
    @include min-media($br-desktop) {
        display: none;
    }
}
