.wrapper-problemApp {
    margin: 0 auto;
    max-width: $wrapper-max;
    padding-top: $base-unit*4;
    @include min-media($br-desktop) {
        padding-top: $base-unit*7;
        padding-right: $space;
        padding-left: $space;
    }
}

.problemApp {
    margin: $space 0 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    &__header {
        margin-bottom: $space*.25;
    }
    &__cont {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        max-width: $space*7;
        justify-content: flex-start;
        &__item {
            display: flex;
            flex-direction: column;
            padding: $space*1.5; //wip
            background-color: $item-color;
            margin-right: $space*.5;
            &--desk {
                width: 100%;
                margin-bottom: $space*.75;
            }
            &--head {
                margin-bottom: $space*.25;
            }
            &--txt {}
        }
        &--dots {
            margin-top: $space;
            text-align: center;
            @include min-media($br-tablet) {
                display: none;
            }
        }
        &--dot {
            margin-right: $space*.5;
            height: $base-unit*.3;
            display: inline-block;
            width: $base-unit*.3;
            background-color: $text-color;
            border-radius: 50%;
            &:active {
                background-color: $product-color;
            }
        }
    }
}
