.wrapper-problemApp {
    margin: 0 auto;
    max-width: $wrapper-max;
    padding-top: $base-unit*4;
    @include min-media($br-desktop) {
        padding-top: $base-unit*7;
        padding-right: $space;
        padding-left: $space;
    }
}

.problemApp {
    padding: $space 0 $space;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-color: $background-color;
    &__header {
        @extend%h4SectionHeader;
        margin-bottom: $space*.25;
        margin-left: $space*.5;
        @include min-media($br-desktop){
            margin-left: 0;
        }
    }
    &__cont {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        max-width: 100%;
        justify-content: flex-start;
        &__item {
            display: flex;
            flex-direction: column;
            padding: $space*1.5; 
            background-color: $item-color;
            margin-right: 0;
            @include min-media($br-tablet){
                margin-right: $space*.5;
            }
            &:not(:first-child) {
                display: none;
                @include min-media($br-tablet) {
                    display: flex;
                    max-width: $space*7;
                }
            }
            &__desk {
            display: inline-flex;
                width: 100%;
                margin-bottom: $space*.75;
                img{
                    margin: 0 auto;
                }
                
            }
            &__head {
                margin-bottom: $space*.25;
                @extend%h3;
            }
            &__txt {
                @extend%paragraphText;
            }
        }
        &__dots {
            margin-top: $space*.5;
            text-align: center;
            @include min-media($br-tablet) {
                display: none;
            }
        }
        &__dot {
            margin-right: $space*.5;
            height: $base-unit*.3;
            display: inline-block;
            width: $base-unit*.3;
            background-color: $text-color;
            border-radius: 50%;
            &:active {
                background-color: $product-color;
            }
        }
    }
}
