.wrapper-workspace {
    margin: 0 auto;
    max-width: $wrapper-max;
    padding-top: $base-unit*4;
    @include min-media($br-desktop) {
        padding-top: $base-unit*7;
        padding-right: $space;
        padding-left: $space;
    }
}

.workspace {
    margin-top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-color: $background-color;
    background-image: url(/assets/images/hand.png), url(/assets/images/desks.png);
    background-repeat: no-repeat;
    background-size: $base-unit*14, $base-unit*20;
    background-position: 50% $space*5, 50% $space*8;
    @include min-media($br-desktop) {
        margin: $space 0 0;
        background-image: url(/assets/images/hand.png), url(/assets/images/first_section_bg.png);
        height: $base-unit*34;
        background-size: contain, cover;
        background-position: 90% $space*3, right;
    }
    &__cont {
        text-align: center;
        @include min-media($br-desktop) {
            width: 60%;
        }
        &--items {
            display: flex;
            flex-direction: column;
            @include min-media($br-desktop) {
                margin-top: 0;
                padding-left: 0;
                padding-right: 0;
                background-color: transparent;
            }
            &--head {
                text-align: left;
                @extend%bigHeadlineText;
                @include max-media($br-desktop) {
                    align-self: center;
                    font-size: $space*.75;
                    line-height: $space;
                    padding-left: $space*.25;
                    padding-right: $space*.25;
                }
            }
            &--txt {
                @extend%descriptionText;
                text-align: left;
                background-color: $background-color;
                padding-top: $space;
                padding-left: $base-unit;
                padding-right: $base-unit;
                margin-top: $space*8;
                align-self: center;
                @include min-media($br-tablet) {
                    padding-left: $space*2.5;
                    padding-right: $space*2.5;
                }
                @include min-media($br-desktop) {
                    margin-top: 0;
                    padding-top: $space;
                    text-align: left;
                    background-color: transparent;
                    padding-left: 0;
                    padding-right: 0;
                }
            }
            &--links {
                padding-top: $space;
                display: flex;
                background-color: $background-color;
                justify-content: center;
                
                
                @include min-media($br-desktop) {
                    background-color: transparent;
                    justify-content: flex-start;
                }
                a {
                    img{
                        width: 60%;
                        @include min-media($br-tablet){
                            width: 70%;
                        }
                    }
                    
                }
            }
        }
    }
}
