<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>
    ${require('./assets/partials/header.html')}

    <main>
        ${require('./assets/partials/workspace.html')}
        ${require('./assets/partials/management.html')}
        ${require('./assets/partials/problemApp.html')}
        ${require('./assets/partials/building.html')}
        ${require('./assets/partials/form.html')}
    </main>

    ${require('./assets/partials/footer.html')}

</body>

</html>
