<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:300,400,700" rel="stylesheet">
</head>

<body>
    ${require('./assets/templates/c_header.html')}
    
    <main>
        <section>
            <h1>section1</h1>
            <article>ddd</article>
        </section>
    </main>

    ${require('./assets/templates/c_footer.html')}

</body>

</html>
