<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:300,400,700" rel="stylesheet">
</head>

<body>
    ${require('./assets/partials/header.html')}

    <main>
        ${require('./assets/partials/workspace.html')}
        ${require('./assets/partials/management.html')}
    </main>

    ${require('./assets/partials/footer.html')}

</body>

</html>
