<section class="building">
    <div class="building-wrapper">
        <div class="building__cont">
            <div class="building__cont__head">
                <p>Bring your building back to 21st century</p>
            </div>
            <div class="building__cont__descr">
                <p>The IoT allows your office to be sensed or controlled remotely across existing network infrastructure. Track
                    and analyse workplace performance to gain your office efficiency. Maecenas vitae enim pulvinar, gravida
                    ligula et, semper neque. </p>
            </div>
            <div class="building__cont__paragraphs">
                <div class="building__cont__paragraph">
                    <p class="building__cont__paragraph__head">Sensors</p>
                    <p class="building__cont__paragraph__txt">The integration of zonifero with motion sensors allows dynamic display of occupancy of rooms and desks
                        on the map. The functionality is especially useful in the case of rapidly changing availability of
                        rooms. The use of motion sensors in the office allows you to generate heat maps for offices.</p>
                </div>
                <div class="building__cont__paragraph">
                    <p class="building__cont__paragraph__head">Real-time conference room and desk availability updates.</p>
                    <p class="building__cont__paragraph__txt">Zonifero business supports the booking of hot-desks, meeting and other rooms. Reservations can be made
                        from the application on the tablet in front of the room or directly from the calendar in Office365
                        or G Suite. Room reservations can also be made for businesses that do not use Office 365 or G Suite.
                        zonifero business also has a calendar feature that can be run on a tablet in front of the conference
                        room. This part of the app is protected so that it can run only this application.</p>
                </div>
            </div>
        </div>
    </div>
</section>
