<footer class="main-foot">
    <div class="main-foot-wrapper">
        <div class="main-foot__nav">
            <ul class="main-foot__nav__col">
                <li class="main-foot__nav__cat">
                    <a href="">Products:</a>
                </li>
                <li class="main-foot__nav__lnk">
                    <a href="">zenifero business</a>
                </li>
                <li class="main-foot__nav__lnk">
                    <a href="">zenifero real estate</a>
                </li>
                <li class="main-foot__nav__lnk">
                    <a href="">zenifero lobby</a>
                </li>
                <li class="main-foot__nav__lnk">
                    <a href="">zenifero services</a>
                </li>
                <li class="main-foot__nav__lnk">
                    <a href="">zenifero tv</a>
                </li>
            </ul>


            <ul class="main-foot__nav__col">
                <li class="main-foot__nav__cat">
                    <a href="">Resources:</a>
                </li>
                <li class="main-foot__nav__lnk">
                    <a href="">Documentation</a>
                </li>
                <li class="main-foot__nav__lnk">
                    <a href="">FAQ</a>
                </li>
                <li class="main-foot__nav__lnk">
                    <a href="">Blog</a>
                </li>
                <li class="main-foot__nav__lnk">
                    <a href="">Media</a>
                </li>
            </ul>


            <ul class="main-foot__nav__col">
                <li class="main-foot__nav__cat">
                    <a href="">About:</a>
                </li>
                <li class="main-foot__nav__lnk">
                    <a href="">About us</a>
                </li>
                <li class="main-foot__nav__lnk">
                    <a href="">Company</a>
                </li>
                <li class="main-foot__nav__lnk">
                    <a href="">Blog</a>
                </li>
            </ul>

        </div>
    </div>
    <div class="main-foot__btns">
        <button class="main-foot__btn">
            <span class="main-foot__btn__hamburger"></span>
        </button>
        <button class="main-foot__btn">
            <span class="main-foot__btn__quit"></span>
        </button>
    </div>

</footer>
