<footer class="main-foot">
    <div class="main-foot-wrapper">
        <div class="main-foot__nav">
            <div class="main-foot__nav__col">
                <ul>
                    <li>
                        <a href="" class="main-foot__nav__cat">Products:</a>
                    </li>
                    <li>
                        <a href="" class="main-foot__nav__lnk">zenifero business</a>
                    </li>
                    <li>
                        <a href="" class="main-foot__nav__lnk">zenifero real estate</a>
                    </li>
                    <li>
                        <a href="" class="main-foot__nav__lnk">zenifero lobby</a>
                    </li>
                    <li>
                        <a href="" class="main-foot__nav__lnk">zenifero services</a>
                    </li>
                    <li>
                        <a href="" class="main-foot__nav__lnk">zenifero tv</a>
                    </li>
                </ul>
            </div>
            <div class="main-foot__nav__col">
                <ul>
                    <li>
                        <a href="" class="main-foot__nav__cat">Resources:</a>
                    </li>
                    <li>
                        <a href="" class="main-foot__nav__lnk">Documentation</a>
                    </li>
                    <li>
                        <a href="" class="main-foot__nav__lnk">FAQ</a>
                    </li>
                    <li>
                        <a href="" class="main-foot__nav__lnk">Blog</a>
                    </li>
                    <li>
                        <a href="" class="main-foot__nav__lnk">Media</a>
                    </li>
                </ul>
            </div>
            <div class="main-foot__nav__col">
                <ul>
                    <li>
                        <a href="" class="main-foot__nav__cat">About:</a>
                    </li>
                    <li>
                        <a href="" class="main-foot__nav__lnk">About us</a>
                    </li>
                    <li>
                        <a href="" class="main-foot__nav__lnk">Company</a>
                    </li>
                    <li>
                        <a href="" class="main-foot__nav__lnk">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-foot__btns">
        <button class="main-foot__btn">
            <span class="main-foot__btn__hamburger"></span>
        </button>
        <button class="main-foot__btn">
            <span class="main-foot__btn__quit"></span>
        </button>
    </div>

</footer>
