<header class="main-hdr ">
    <div class="nav-wrapper">
        <a href="/" class="hdr-logo">
            <picture>
                <source media="(min-width: 768px)" srcset="/assets/images/logo.png">
                <img src="/assets/images/logo_mobile.png" alt="logo">
            </picture>
        </a>
        <nav class="main-nav">
            <button class="nav-btn">
                <span></span>
            </button>
            <ul class="main-nav__menu">
                <li>
                    <a href="">Zanifiero Products</a>
                </li>
                <li>
                    <a href="">Store</a>
                </li>
                <li>
                    <a href="">Blog</a>
                </li>

            </ul>

            <div class="main-nav__sign">
                <li>
                    <a href="">
                        <img src="/assets/images/globe.png">
                    </a>
                </li>
                <li>
                    <a href="">
                        <span>Sign In</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span>Get The App</span>
                    </a>
                </li>
            </div>

        </nav>
        <nav class="secondary-nav">
            <select class="secondary-nav__select">
                <option>
                    <span>zonifero Workplace:</span>
                </option>
                <option>
                    <a href="">Overwiev</a>
                </option>
                <option>
                    <a href="">Features</a>
                </option>
                <option>
                    <a href="">Specs</a>
                </option>
                <option>
                    <a href="">FAQ</a>
                </option>
                <option>
                    <a href="">Contact</a>
                </option>
            </select>
            <ul class="secondary-nav__menu">
                <li>
                    <span>zonifero Workplace:</span>
                </li>
                <li>
                    <a href="">Overwiev</a>
                </li>
                <li>
                    <a href="">Features</a>
                </li>
                <li>
                    <a href="">Specs</a>
                </li>
                <li>
                    <a href="">FAQ</a>
                </li>
                <li>
                    <a href="">Contact</a>
                </li>

            </ul>

        </nav>

    </div>
</header>
