<header class="main-hdr ">
    <div class="nav-wrapper">
        <a href="/" class="hdr-logo">
            <picture>
                <source media="(min-width: 768px)" srcset="/assets/images/logo.png">
                <img src="/assets/images/logo_mobile.png" alt="logo">
            </picture>
        </a>
        <nav class="main-nav">
            <button class="nav-btn">
                <span class="nav-btn__hamburger"></span>
            </button>
            <ul class="main-nav__menu">
                <li class="main-nav__menu__item">
                    <a href="">Zanifiero Products</a>
                </li>
                <li class="main-nav__menu__item">
                    <a href="">Store</a>
                </li>
                <li class="main-nav__menu__item">
                    <a href="">Blog</a>
                </li>
            </ul>

            <div class="main-nav__sign">
                <div class="main-nav__sign__item">
                    <a href="">
                        <img src="/assets/images/globe.png">
                    </a>
                </div>
                <div class="main-nav__sign__item">
                    <a href="">
                        <span>Sign In</span>
                    </a>
                </div>
                <div class="main-nav__sign__item">
                    <a href="">
                        <p>Get The App</p>
                    </a>
                </div>
            </div>
        </nav>

        <nav class="secondary-nav">
            <ul class="secondary-nav__menu">
                <li class="secondary-nav__menu__item">
                    <span>zonifero Workplace:</span>
                </li>
                <li class="secondary-nav__menu__item">
                    <a href="">Overwiev</a>
                </li>
                <li class="secondary-nav__menu__item">
                    <a href="">Features</a>
                </li>
                <li class="secondary-nav__menu__item">
                    <a href="">Specs</a>
                </li>
                <li class="secondary-nav__menu__item">
                    <a href="">FAQ</a>
                </li>
                <li class="secondary-nav__menu__item">
                    <a href="">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
