<header class="main-hdr ">
    <div class="wrapper">
        <a href="/" class="hdr-logo">
            <picture>
                <source media="(min-width: 768px)" srcset="/assets/images/logo.png">
                <img src="/assets/images/logo_mobile.png" alt="logo">
            </picture>
        </a>
        <nav class="main-nav">
            <button class="nav-btn">
                <span></span>
            </button>
            <ul class="menu1">
                <li>
                    <a href="">Category 1</a>
                </li>
                <li>
                    <a href="">Category 2</a>
                </li>
                <li>
                    <a href="">Category 3</a>
                </li>
                <li>
                    <a href="">Category 4</a>
                </li>
            </ul>
        </nav>
        <nav class="secondary-nav">
            <ul class="menu2">
                <li>
                    <span>zonifero Workplace:</span>
                </li>
                <li>
                    <a href="">Category 1</a>
                </li>
                <li>
                    <a href="">Category 2</a>
                </li>
                <li>
                    <a href="">Category 3</a>
                </li>
                <li>
                    <a href="">Category 4</a>
                </li>

            </ul>
        </nav>
        
    </div>
</header>
