<section class="problemApp">
    <div class="wrapper-problemApp">
        <div class="problemApp__header">
            <span>Problem solving app</span>
        </div>
        <div class="problemApp__cont">
            <div class="problemApp__cont__item">
                <img class="problemApp__cont__item--desk" src="/assets/images/desk_icon.png" alt="desk">
                <h3 class="problemApp__cont__item--head">Use your time and space smarter</h3>
                <p class="problemApp__cont__item--txt"> Never again run out of coffee or other supplies. Create an efficient hive for your busy bees.
                </p>
            </div>
            <div class="problemApp__cont__item">
                <img class="problemApp__cont__item--desk" src="/assets/images/desk_icon.png" alt="desk">
                <h3 class="problemApp__cont__item--head">Never stress about meetings again
                </h3>
                <p class="problemApp__cont__item--txt">Improved productivity and satisfaction as your employees stay informed, connected and can feed requests and
                    updates in real time
                </p>
            </div>
            <div class="problemApp__cont__item">
                <img class="problemApp__cont__item--desk" src="/assets/images/desk_icon.png" alt="desk">
                <h3 class="problemApp__cont__item--head">Never stress about meetings again
                </h3>
                <p class="problemApp__cont__item--txt">Improved productivity and satisfaction as your employees stay informed, connected and can feed requests and
                    updates in real time
                </p>
            </div>
            <div class="problemApp__cont__item">
                <img class="problemApp__cont__item--desk" src="/assets/images/desk_icon.png" alt="desk">
                <h3 class="problemApp__cont__item--head">Never stress about meetings again
                </h3>
                <p class="problemApp__cont__item--txt">Improved productivity and satisfaction as your employees stay informed, connected and can feed requests and
                    updates in real time
                </p>
            </div>
            <div class="problemApp__cont__item">
                <img class="problemApp__cont__item--desk" src="/assets/images/desk_icon.png" alt="desk">
                <h3 class="problemApp__cont__item--head">Never stress about meetings again
                </h3>
                <p class="problemApp__cont__item--txt">Improved productivity and satisfaction as your employees stay informed, connected and can feed requests and
                    updates in real time
                </p>
            </div>
            <div class="problemApp__cont__item">
                <img class="problemApp__cont__item--desk" src="/assets/images/desk_icon.png" alt="desk">
                <h3 class="problemApp__cont__item--head">Never stress about meetings again
                </h3>
                <p class="problemApp__cont__item--txt">Improved productivity and satisfaction as your employees stay informed, connected and can feed requests and
                    updates in real time
                </p>
            </div>
            <div class="problemApp__cont--dots">
                <span class="problemApp__cont--dot"></span>
                <span class="problemApp__cont--dot"></span>
                <span class="problemApp__cont--dot"></span>
                <span class="problemApp__cont--dot"></span>
            </div>
        </div>
    </div>
</section>
