<section class="workspace">
    <div class="wrapper-workspace">
        <div class="workspace__cont">
            <div class="workspace__cont__items">
                <h1 class="workspace__cont__items__head">Streamline
                    <br> Your Workspace</h1>
                <div class="workspace__cont__items__txt">
                    <p>Effectively and quickly from your mobile device. Staying connected has never been easier with zonifero
                        WorkPlace.
                    </p>
                </div>
                <div class="workspace__cont__items__links">
                    <a href="https://play.google.com/store">
                        <img src="/assets/images/google_play.png" alt="google play">
                    </a>
                    <a href="https://www.apple.com/pl/ios/app-store/">
                        <img src="/assets/images/appStore.png" alt="app store">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
