@import 'variables.scss';
@import 'mixin.scss';

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: $body-font-size;
    font-family: $first-base-font-family;
    color: $body-color;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: 0;
    background: none;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
.h1 {
    font-size: $h1-font-size;
    letter-spacing: 0;
    margin-bottom: $space;
}

h2,
.h2 {
    font-size: $h2-font-size;
    letter-spacing: 0;
    margin-bottom: $space;
}

h3,
.h3 {
    font-size: $h3-font-size;
    letter-spacing: 0;
    margin-bottom: $space;
}

.wrapper {
    margin: 0 auto;
    padding-right: $space;
    padding-left: $space;
    max-width: $wrapper-max;
}
